In [16]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/School/Raw_yield_data.csv')
df

   Height (Inches)  Weight (pounds)  Age  Grip Strength Frailty
0             65.8              112   30             30       N
1             71.5              136   19             31       N
2             69.4              153   45             29       N
3             68.2              142   22             28       Y
4             67.8              144   29             24       Y
5             68.7              123   50             26       N
6             69.8              141   51             22       Y
7             70.1              136   23             20       Y
8             67.9              112   17             19       N
9             66.8              120   39             31       N

In [17]:
# Use one hot encoding to convert the "Frailty" column
df['Frailty'] = df['Frailty'].replace({'N': 0, 'Y': 1})

# Save the cleaned data to a new CSV file
df.to_csv('/content/drive/MyDrive/School/Cleaned_yield_data.csv', index=False)
df

   Height (Inches)  Weight (pounds)  Age  Grip Strength  Frailty
0             65.8              112   30             30        0
1             71.5              136   19             31        0
2             69.4              153   45             29        0
3             68.2              142   22             28        1
4             67.8              144   29             24        1
5             68.7              123   50             26        0
6             69.8              141   51             22        1
7             70.1              136   23             20        1
8             67.9              112   17             19        0
9             66.8              120   39             31        0

In [11]:
# Calculate the correlation between height and grip strength
heightCorr = df[['Height (Inches)', 'Grip Strength']].corr()

print(heightCorr)

                 Height (Inches)  Grip Strength
Height (Inches)         1.000000      -0.167682
Grip Strength          -0.167682       1.000000

In [13]:
# Calculate the correlation between height and grip strength
weightCorr = df[['Weight (pounds)', 'Grip Strength']].corr()

print(weightCorr)

                 Weight (pounds)  Grip Strength
Weight (pounds)         1.000000       0.032807
Grip Strength           0.032807       1.000000

In [21]:
# Drop the 'Height (Inches)' and 'Weight (Pounds)' columns
df = df.drop(['Height (Inches)', 'Weight (pounds)'], axis=1)

# Save the result to a new CSV file
df.to_csv('/content/drive/MyDrive/School/cleaned_data.csv', index=False)
df

   Age  Grip Strength  Frailty
0   30             30        0
1   19             31        0
2   45             29        0
3   22             28        1
4   29             24        1
5   50             26        0
6   51             22        1
7   23             20        1
8   17             19        0
9   39             31        0